# PostgreSQL
POSTGRES_DB=dataflow
POSTGRES_USER=dataflow_user
POSTGRES_PASSWORD=dataflow_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# MongoDB
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=dataflow
MONGO_COLLECTION=pedidos
